{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="mt-5">
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}

{% block js %}
    <script>
        const ctx = document.getElementById('myChart');
        let labels = ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']

        Chart.defaults.global.defaultFontStyle = '600';

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'test1',
                    data: [2, 4, 7, 10, 15, 19],
                    borderWidth: 1,
                    fill: false,
                    backgroundColor: "#fad390",
                    {#hoverBackgroundColor: "#eb2f06",#}
                }, {
                    label: 'test2',
                    data: [2, 4, 7, 10, 15, 19.8],
                    borderWidth: 1,
                    fill: false,
                    backgroundColor: "#ff7675",
                    {#hoverBackgroundColor: "#eb2f06",#}
                },]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                    display: true
                },
                tooltips: {
                    enabled: false,
                },
                hover: {
                    animationDuration: 0
                },
                animation: {
                    duration: 1,
                    onComplete: function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;
                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';
                        ctx.fontWeight = "bold"

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index] + "%";
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },

                scales: {
                    xAxes: [{
                        gridLines: {
                            offsetGridLines: false,
                            color: "rgba(0, 0, 0, 0)",
                            drawBorder: false,
                            drawChartArea: false,
                        },
                        ticks: {
                            padding: 10,
                            fontColor: '#000',
                            callback: function (value, index, values) {
                                console.log(value)
                                console.log(index)
                                console.log(values)
                                return value
                            }
                        }
                    }],


                    yAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false,
                            offsetGridLines: false,
                        },
                        ticks: {
                            beginAtZero: true,
                            padding: 20,
                            fontFamily: "Poppins",
                            fontColor: '#b2bec3',
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return ""
                            }
                        },
                    }]
                },
            },
        });
    </script>
{% endblock %}