{% extends "base.html" %}
{% load static %}


{% block body %}
    <div class="mt-5" id="chartBox">
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}

{% block js %}
    <script>
        const ctx = document.getElementById('myChart');
        let labels = ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']

        Chart.defaults.global.defaultFontStyle = '600';

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'test1',
                    data: [6, 4, 7, 3, 1, 19],
                    borderWidth: 1,
                    fill: false,
                    backgroundColor: "#000",
                    borderColor: "#000",
                    borderWidth: 5,
                    pointRadius: 7,
                    pointHoverRadius: 10,
                    lineTension: 0,
                    pointStyle: 'rect',
                },{
                    label: 'test1',
                    data: [7, 9, 8, 3, 2, 20],
                    borderWidth: 1,
                    fill: false,
                    backgroundColor: "#0652DD",
                    borderColor: "#0652DD",
                    borderWidth: 5,
                    pointRadius: 7,
                    pointHoverRadius: 10,
                    lineTension: 0,
                    pointStyle: 'circle',
                },{
                    label: 'test1',
                    data: [8, 6, 9, 3, 1, 21],
                    borderWidth: 1,
                    fill: false,
                    backgroundColor: "#006266",
                    borderColor: "#006266",
                    borderWidth: 5,
                    pointRadius: 7,
                    pointHoverRadius: 10,
                    lineTension: 0,
                    pointStyle: 'rectRot',
                },]
            },
            options: {
                responsive: true,
                {#maintainAspectRatio: true,#}
                legend: {
                    display: true,
                    position: "bottom",
                    padding: 20,
                },

                scales: {
                    xAxes: [{
                        gridLines: {
                            offsetGridLines: false,
                            drawBorder: true,
                            drawChartArea: false,
                            drawOnChartArea: false,
                        },
                        ticks: {
                            beginAtZero: true,
                            padding: 10,
                            stepSize: 1,
                            fontSize: 18,
                            callback: function (value, index, values) {
                                return value
                            }
                        }
                    }],


                    yAxes: [{
                        gridLines: {
                            offsetGridLines: false,
                            drawBorder: true,
                            drawChartArea: false,
                            drawOnChartArea: false,
                        },
                        ticks: {
                            beginAtZero: true,
                            padding: 20,
                            fontFamily: "Poppins",
                            fontColor: '#000',
                            fontSize: 14,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value
                            }
                        },
                    }]
                },
            },
        });
    </script>
{% endblock %}